.container {
  width: 80%;
  margin: auto;
  margin-top: -4rem !important;
}

#btn-back {
  font-weight: bold;
}

.custom-table {
  width: 100%;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
}

.btn:hover {
  background-color: rgb(111, 111, 111) !important;
}

.modal-custom {
  margin-top: 1rem !important;
  .ant-modal-content {
    min-width: 800px;
    max-width: 1000px;
  }
}

.des {
  margin-bottom: 1rem !important;
}
