/* index.scss */
body {
  font-family: "Arial", sans-serif;
  background-color: #f7fafc; /* Màu nền nhẹ */
  color: #333;
  margin: 0;
  padding: 0;
  #btn-detail {
    color: white !important;
    font-weight: 400;
  }
  #btn-detail:hover {
    background-color: rgb(84, 84, 84);
  }
  th.ant-table-cell::before {
    display: none !important;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-input {
  width: 200px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #000; /* Đường viền màu đen */
  padding: 8px;
}

.custom-table .ant-table-thead > tr > th {
  background-color: #000000; /* Màu nền các ô tiêu đề bảng là đen */
  color: white; /* Chữ tiêu đề bảng là màu trắng */
}

.custom-table .ant-table-tbody > tr:nth-child(even) {
  background-color: #f9f9f9; /* Màu nền của các dòng chẵn */
}

.custom-table .ant-table-tbody > tr:hover {
  background-color: #f1f1f1; /* Màu nền của dòng khi hover */
}

.ant-btn {
  font-size: 16px;
  font-weight: bold;
  background-color: #000000; /* Màu nền nút là đen */
  color: white; /* Chữ màu trắng */
  border: none;

  &:hover {
    background-color: #cccccc; /* Màu nền khi hover */
  }
}

.ant-table {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  border: none; /* Loại bỏ border ngoài bảng */
}

.ant-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ant-pagination-item {
  border-radius: 50%;
  border: 1px solid #000000; /* Màu viền các item phân trang là đen */
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #000000; /* Màu nền khi hover là đen */
    color: white; /* Chữ màu trắng khi hover */
  }
}

.ant-pagination-item-active {
  background-color: #000000; /* Màu nền của trang đang chọn là đen */
  color: white; /* Chữ màu trắng */
}

.ant-pagination-prev,
.ant-pagination-next {
  font-size: 16px;
  color: #000000; /* Màu chữ cho nút Previous và Next là đen */
}

.ant-pagination-item-ellipsis {
  font-size: 16px;
  color: #000000; /* Màu chữ cho dấu chấm phân trang là đen */
}

.ant-input {
  margin-bottom: 16px;
  border: 1px solid #000000; /* Đường viền của input là đen */
}

.ant-input:focus {
  border-color: #000000; /* Màu viền khi focus vào input */
}
